{% extends 'base.html.twig' %}

{% block title %}
    Create new Article
{% endblock %}

{% block body %}
    <h1 class="ui header">
        {{ block('title') }}
    </h1>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    <div class="field">
        <div class="ui buttons">
            <input type="submit" class="ui primary button" value="Create">
            <a class="ui button" href="{{ path('app_admin_article_index') }}">
                Cancel
            </a>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
