{% extends 'base.html.twig' %}

{% block title %}
    Edit Article
{% endblock %}

{% block body %}
    <h1 class="ui header">
        {{ block('title') }}
    </h1>
    {% set article = form.vars.data %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    <div class="field">
        <div class="ui buttons">
            <input type="submit" class="ui primary button" value="Save">
            <a class="ui button" href="{{ path('app_admin_article_view', {'id':article.id}) }}">
                Cancel
            </a>
            <a class="ui red button" href="{{ path('app_admin_article_remove', {'id':article.id}) }}" data-requires-confirmation>
                Remove
            </a>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
