{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="ui header">
        Article list
    </h1>

    <table class="ui celled table">
        <thead>
        <tr>
            <th{% if pagination.isSorted('a.title') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}
            </th>
            <th{% if pagination.isSorted('a.postedAt') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Posted At', 'a.postedAt') }}
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for article in pagination %}
            <tr>
                <td>
                    <a href="{{ path('app_admin_article_view', {'id':article.id}) }}">
                        {{ article.title }}
                    </a>
                </td>
                <td>
                    {{ article.postedAt|date }}
                </td>
                <td>
                    <a class="ui yellow tiny button" href="{{ path('app_admin_article_edit', {'id':article.id}) }}">
                        edit
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="ui menu navigation">
        {{ knp_pagination_render(pagination) }}

        <div class="right menu">
            <div class="ui item">
                <a class="ui primary button" href="{{ path('app_admin_article_create') }}">
                    Create
                </a>
            </div>
        </div>
    </div>

{% endblock %}
