{% extends 'base.html.twig' %}


{% block title %}
    View Article : {{ article.title }}
{% endblock %}

{% block body %}
    <h1 class="ui header">
        {{ block('title') }}
    </h1>

    <table class="ui celled table">
        <tr>
            <td class="right aligned">
                <b>Title</b>
            </td>
            <td>
                {{ article.title }}
            </td>
        </tr>
        <tr>
            <td class="right aligned">
                <b>Posted At</b>
            </td>
            <td>
                {{ article.postedAt|date }}
            </td>
        </tr>
        <tr>
            <td class="right aligned">
                <b>Description</b>
            </td>
            <td>
                {{ article.description|raw|nl2br }}
            </td>
        </tr>
    </table>
    <div class="ui buttons">
        <a class="ui button" href="{{ path('app_admin_article_index') }}">
            Back
        </a>
        <a class="ui yellow button" href="{{ path('app_admin_article_edit', {'id':article.id}) }}">
            Edit
        </a>
        <a class="ui red button" href="{{ path('app_admin_article_remove', {'id':article.id}) }}">
            Remove
        </a>
    </div>
{% endblock %}
