{% extends 'base.html.twig' %}

{% block body %}
    <table class="ui celled table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>
                    {{ article.title }}
                </td>
            </tr>
            <tr>
                <th>Description</th>
                <td>
                    {{ article.description|raw|nl2br }}
                </td>
            </tr>
            <tr>
                <th>Posted At</th>
                <td>
                    {{ article.postedAt|date }}
                </td>
            </tr>
        </tbody>
    </table>
    <div class="ui buttons">

        <a class="ui primary icon button" href="{{ path('app_admin_article_index') }}">
            <i class="chevron left icon"></i>
        </a>
        <a class="ui yellow icon button" href="{{ path('app_admin_article_create') }}">
            <i class="edit icon"></i>
        </a>
        <a class="ui red icon button" href="{{ path('app_admin_article_create') }}">
            <i class="remove icon"></i>
        </a>
    </div>
{% endblock %}
